<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fauricio.proyecto_1_moviles">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Vista.admin.MainActivity"
            android:label="@string/title_menu" />
        <activity
            android:name=".Vista.activity_Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vista.Registro"
            android:label="Registro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vista.RecuperarPassword"
            android:label="@string/title_recuperar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vista.admin.detalle_chofer"
            android:parentActivityName=".Vista.admin.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Vista.admin.agregar_empresa"
            android:label="@string/title_add_empresa"
            android:parentActivityName=".Vista.admin.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Vista.admin.MainActivity" />
        </activity>
        <activity
            android:name=".Vista.admin.detalle_empresa"
            android:parentActivityName=".Vista.admin.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vista.admin.detalle_ruta"
            android:parentActivityName=".Vista.admin.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".Vista.admin.agregar_ruta"
            android:label="@string/title_add_ruta"
            android:parentActivityName=".Vista.admin.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Vista.admin.MainActivity" />
        </activity>
        <activity
            android:name=".Vista.admin.agregar_parada"
            android:label="@string/title_add_parada"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vista.admin.detalle_parada"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".Vista.chofer.Main_chofer" />
        <activity android:name=".Vista.chofer.mapa_chofer" />
        <activity
            android:name=".Vista.cliente.Main_cliente"
            android:label="@string/title_activity_main_cliente" />

        <service android:name=".Vista.chofer.GPS_Service" />

        <activity android:name=".Vista.cliente.detalle_empresa_user" />
        <activity android:name=".Vista.cliente.detalle_ruta_user" />
        <activity android:name=".Vista.cliente.detalle_parada_user" />
        <activity android:name=".Vista.cliente.lista_rutas_empresa" />
        <activity
            android:name=".Vista.cliente.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>